


<% if session[:user_id] %>
  <%= link_to "logout",  destroy_session_path, method: :delete %>
<% else %>
  <%= link_to "login using twitter", "/auth/twitter" %>
<% end %> 

<div id='startLat'></div>
<div id='startLon'></div>

<div id='blah'></div>
