<div class = 'container'>
  <center>
    <% @posts.each do |post| %>
      <p>
        <hr>
        <div class = "modal-title">
          <h1><%= post.title %></h1>
        </div>
        </hr>
      <br>
      <%  if post.image != 'nil' %>
        <img src="<%= post.image %>">
      <%  end %>
      <br><br>

  <div class = "postfont squeeze">
      <%= post.content.split[0..30].join(" ") %>
      <br>
      <%= link_to "Read more...", post %>
  </div>
  </p>
  <% end %>
</div>
</center>
