/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  color: #15203E;
  font-family: Helvetica, sans-serif !important;
  letter-spacing: 1px !important;
}

.navcontainer {
}
.subscribebox {
  background-image: url('http://sf-p.rtrcdn.com/images/promo-bar-background.jpg');
  text-size: 14px;
  height: 30px;
  text-align: center;
  color: #feecec;
}

.leasenav {
  padding-top: 4px;
  font-style:normal;
}

.leasenav a{
  color: #feecec;
}

.leasenav:hover {
  color: #767F96 !important;
}

.maintitle {
  padding-top: 20px;
  padding-bottom: 25px;
  float: left;
}

.maintitle a {
  color: #15203E;
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  letter-spacing: 3px !important;;
}

/*.leftnav {
  display: float;
  float: bottom;
  text-align: left;
}*/

.leftnav a {
  font-size: 14px !important;
  color: #15203E;
  text-decoration: none;
  font-weight: normal !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  padding-right: 20px;
} 

.rightnav {
  float: right;
  display: inline;
  padding-top: 20px;
  color: #666666;
}

.rightnav a {
  color: #666666;
  padding-right: 20px;
}
 
.btn {
  background: #15203E;
  margin:  #15203E;
  border:  #15203E;
  font-family: Helvetica, sans-serif !important;
  text-transform: uppercase;
}

.btn:hover {
  background: #1b2a51;
}
