.calrow {
  height: 100px;
}

.calcol {
  width: 150px;
}

tr th.calcol {
  background-color: #f7f7f7;
  padding: 0 !important;
}

th {
  text-align: center;
}

.modal-content {
  background: #f7f7f7;
}

.modal-title {
  text-align: center;
  font-family: 'Crimson Text', serif !important;
}

.calendtitle {
  text-transform: uppercase;
  display: inline;
}

#fml {
  color: #15203E !important;
  font-family: Helvetica, sans-serif !important;
  letter-spacing: 1px !important;
}

.images img {
  max-width: 49%;
  margin: .5px;
  float: left;
}

#present {
  background-color: #f7f7f7;
}

#weatherforecast {
  margin-bottom: 20px;
}
