// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postfont {
  color: #15203E;
  font-family: Helvetica, sans-serif !important;
  font-size: 12px;
  letter-spacing: 2px !important;
}

.squeeze {
  width: 600px
}
