// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toolimg {
  height: 150px;
  width: 150px;
  margin-top: 10px;  
  margin-left: auto;
  margin-right: auto;
}

.toolimg img {
  margin-left: auto;
  margin-right: auto;
}

.tool {
  max-width: 100%;
  text-align: center;
  margin: 5px;
}

.borrow {
  margin: 5px;
}

.buttonholder {
  width: 84px;
  height: 82px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tooltop {
  margin-top: 20px;
}

.toolname {
  text-align: center;
}
